%flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}

.image {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    @extend %flex;
    grid-column: 2;
    grid-row: 1;
    padding-left: 3em;
    background-color: rgb(237, 237, 237);
    border-radius: 8px;
}

@media only screen and (max-width: 767px) {
    .wrap {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 4em;
    }
    
    .text {
        aspect-ratio: 7/5;
        grid-column: 1;
        grid-row: 2;
        border-radius: 12px;
    }

    .image {
        grid-column: 1;
        grid-row: 1;
        aspect-ratio: 7/5;
        background-image: url("~/public/assets/home/mobile/image-earphones-yx1.jpg");
        border-radius: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .image {
        height: 30vh;
        background-image: url("~/public/assets/home/tablet/image-earphones-yx1.jpg");
        border-radius: 8px;
    }
}

@media only screen and (min-width: 1024px) {
    .image {
        height: 20vh;
        background-image: url("~/public/assets/home/desktop/image-earphones-yx1.jpg");
        border-radius: 8px;
    }
}