.wrap {
    position: absolute;
    max-width: 90%;
    width: 540px;
    height: fit-content;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white-1);
    border-radius: 8px;
    padding: 2.5em;

    .logo {
        margin-bottom: 40px;
    }

    & h1 {
        font-size: 32px;
        padding: 0;
        margin: 0;
        line-height: 1.2;
    }

    & p {
        margin: 40px 0;
        font-size: 0.9em;
    }
}

.summary {
    width: 100%;
    height: max-content;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1;

    .details {
        position: relative;
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        min-height: 98px;
        max-height: 300px;
        height: fit-content;
        overflow-y: scroll;
        margin: 0.5em;
      
        & div {
            width: 90%;
            justify-self: center;
            column-gap: 0em;
            row-gap: 1em;
            height: 64px;
        }

        .view {
            width: 90%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1em auto;
            & hr {
                margin-top: 1em;
                width: 95%;
                border-top: 1px solid #a8a8a8;
            }

            & p {
                padding: 0;
                margin: 1em 0;
            }
        }
    }

    .total {
        grid-row: 1;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(17, 17, 17);
        border-radius: 0 10px 10px 0;
        color: var(--checkout-gray);

        & div {
            width: 70%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            & h6 {
                font-size: 0.9em;
                font-weight: 400;
                letter-spacing: 1px;
                margin: 0;
                padding: 0;
                color: var(--checkout-gray);
            }

            & p {
                font-size: 1.3em;
                font-weight: 600;
                letter-spacing: 1px;
                color: white;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.button {
    width: 100%;
    height: 50px;
}

@media (max-width: 500px) {
    .wrap {
        padding: 1.5em;
        margin-top: 1.7em;
        margin-bottom: 1em;
        display: block;
    
        .logo {
            width: 40px;
            height: 40px;
            margin-bottom: 20px;
        }
    
        & h1 {
            font-size: 20px;
            padding: 0;
            margin: 0;
            line-height: 1.2;
        }
    
        & p {
            margin: 20px 0;
            font-size: 0.8em;
        }
    }

    .summary {
        display: grid;
        grid-template: auto 1fr / 1fr;
        margin-bottom: 20px;

        .details {
            position: relative;
            column-gap: 0.5em;
            grid-row: 1;
            grid-column: 1;

            & div {
                width: 90%;
                justify-self: unset;
                column-gap: 0.5em;
                row-gap: 1em;
                height: 44px;
            }
    
            .view {
                width: 90%;
                height: 20px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                & hr {
                    width: 95%;
                    border-top: 1px solid #a8a8a8;
                }
                & p {
                    padding: 0;
                    margin: 0;
                    line-height: 0;
                }
            }
        }
    
        .total {
            width: 100%;
            height: 70px;
            grid-row: 2;
            grid-column: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(17, 17, 17);
            border-radius: 0 0 10px 10px;
            color: var(--checkout-gray);
           
    
            & div {
                width: 70%;
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
    
                & h6 {
                    font-size: 0.7em;
                    font-weight: 400;
                    letter-spacing: 1px;
                    margin: 0;
                    padding: 0;
                    color: var(--checkout-gray);
                }
    
                & p {
                    font-size: 1em;
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: white;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    
    .button {
        width: 100%;
        height: 40px;
    }
}

