
.wrap {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
}

.textWrapper {
    composes: flex from global;
    width: 100%;
    height: 100%;
    
    order: 2;

    .text.textAlignCenter{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 1em;
    }

    .text.textAlignLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        gap: 1em;
        // border: 2px solid rgb(0, 13, 255);
    }
}

.textWrapper.reverse {
    order: 1;
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 1/1;
    order: 1;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
   
    .image {
        position: absolute;
        object-fit: cover;
        border-radius: 2%;
        scale: 1;
        transition: scale 1s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }
}

.imageWrapper.reverse {
    order: 2;
}

@media (max-width: 767px) {
    .wrap {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10%;
    }

    .textWrapper {
        align-items: flex-start;
        height: max-content;

        .text {
            width: 100%;
        }
    }

    .textWrapper.reverse {
        order: 2;
    }

    .imageWrapper.reverse {
        order: 1;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 370px auto;
        width: 100%;
        height: fit-content;
    }

    .imageWrapper {
        width: 100%;
        height: 100%;
        aspect-ratio: none;

        order: 1;
        position: relative;
        overflow: hidden;

        .image {
            position: absolute;
            object-fit: cover;
            border-radius: 2%;
        }
    }

    .textWrapper {
        align-items: flex-start;
        height: max-content;
        padding: 2em 0;

        .text {
            width: 100%;
        }
    }

    .textWrapper.reverse {
        order: 2;
    }

    .imageWrapper.reverse {
        order: 1;
    }

    .wrap.textAlignLeft {
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 45vw;
        gap: 0;
    }

    :is(.textAlignLeft) .imageWrapper {
        order: 1;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 1/1;
        position: relative;


        .image {
            position: absolute;
            object-fit: cover;
            border-radius: 2%;
        }
    }

    :is(.textAlignLeft) .textWrapper {
        height: 100%;
        align-items: center;
        height: max-content;
        /* border: 1px solid saddlebrown; */
        padding-left: 3em;

        .text {
            gap: 0.5em;
        }
    }
}

@media (min-width: 1023px) {

    .imageGrid {
        grid-column: 1;
        grid-row: 1;
    }

    .textWrapper.reverse {
        display: flex;
        justify-content: flex-start;
    }

    .textWrapper {
        justify-content: flex-end;

        .text h1 {
            width: 70%;
        }

        .text {
            grid-column: 1;
            grid-row: 2;
            width: 80%;
            aspect-ratio: 7/5;
            z-index: 2;
        }

        /* reverse for desktop only */
        .text.textAlignCenter {
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1em;
        }
    }
}