.social {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .svg {
        margin: 3px;
        cursor: default;
    }
}

.path {
    transition: all 0.3s ease-in-out;
    scale: 0.66;
}

.path:hover {
    fill: var(--color-orange-0);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .social {
        padding: 0 0 0 10px;
    }
}

