@mixin button ($color, $bgColor, $hoverBgColor) {
    background-color: $bgColor;
    color: $color;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $hoverBgColor;
    }
}

.alignCenter {
    composes: buttonWrapper from global;
    justify-content: center;
    align-items: center;
}

.orange {
    @include button(var(--color-white-1), var(--color-orange-1), var(--color-orange-0));
}

.black {
    @include button(var(--color-white-1), var(--color-black-1), #1f1f1fc7);
}

.filled {
    transition: all 0.3s ease-in-out;
}

.outline {
    border: 1px solid var(--color-black-1);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

    &:hover {
        scale: 1.03;
        border: 2px solid var(--color-black-1);
    }
}

.text {
    background-color: transparent;
    color: var(--color-button-gray);
    transition: all 0.3s ease-in-out;

    &::after {
        content: url('~/public/assets/shared/desktop/icon-arrow-right.svg');
        display: inline-block;
        transition: width 0.3s ease-in-out;
    }

    &:hover {
        color: var(--color-orange-1);
    }
}

.filledDynamic {
    font-weight: 600;
    background-color: transparent;
    transition: all 0.2s ease-in-out;

    & span {
        color: var(--color-black-1);
    }

    &:hover {
        scale: 1.03;
        background-color: var(--color-black-1);
    }
}

@media (max-width: 1023px) {
    .filledDynamic {
        border: 1px solid var(--color-black-1);

        &:hover {
            background-color: transparent;
            scale: 1.05;
        }
    }
}

@media (min-width: 1024px) {
    .filledDynamic {
        background-color: var(--color-black-1);
        border-radius: 0;

        & span {
            color: var(--color-white-1);
        }

        &:hover {
            scale: 1.03;
            background-color: #1f1f1fc7;
            scale: 1;
        }
    }

    .alignCenter {
        justify-content: initial;
        align-items: initial;
    }
}