@use "./_s.module.scss" as *;

%flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gray {
    @include button(var(--color-black-1), #eeeeee, #f3f3f3);
    height: 100%;
}

.counter {
    @extend %flex;
    min-width: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    cursor: default;
    user-select: none;
    height: 100%;

    .minus {
        @extend %flex;
        grid-column: 1;
        width: auto;
        font-size: 1.4em;

    }

    .number {
        @extend %flex;
        grid-column: 2;
        font-size: 1em;
        font-weight: 700;
    }

    .plus {
        @extend %flex;
        grid-column: 3;
        font-size: 1.4em;
    }
}