.fadeIn {
    animation: fadeIn 1.3s ease;
}

.pulse {
    animation: pulseAnimation 1s linear 1;
}

.pulse.restart {
    animation: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pulseAnimation {
    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.02);
    }

    50% {
        transform: scale(0.98);
    }

    75% {
        transform: scale(1.06);
    }
}