.button {
    min-width: 120px;
    min-height: 30px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.button-font {
    font-size: 12px;
    font-weight: 600;
    line-height: 0;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
