@import url("./typography.css");
@import url("./mediaquery.css");
@import url("./normalize.css");
@import url("./lists.css");

* {
    margin: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --color-black-0: #000000;
    --color-black-1: #101010;
    --color-white-0: #FFFFFF;
    --color-white-1: #fafafa;
    --color-white-2: #f1f1f1;
    --color-orange-0: #FBAF85;
    --color-orange-1: #D87D4A;
    --color-button-gray: #6e6e6e;
    --color-site-background: white;
    --hero-gray: #4e4e4e;
    --paragraph-gray: #909090;
    --site-max-width: 1580px;
    --checkout-gray: #919191;
    --checkout-bg: #eaeaea;
}

body {
    background-color: rgb(255, 255, 255);
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}