main {
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--color-site-background);
}

section {
    margin: 15vh auto;
}

header {
    margin: 0 auto;
    max-width: var(--site-max-width);
}

footer {
    max-width: var(--site-max-width);
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {

    main {
        width: 100vw;
    }

    section {
        max-width: 90%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    main  {
        width: 100vw;
    }

    section {
        width: 90%;
    }
}


@media only screen and (min-width: 1024px) {
    main  {
        max-width: var(--site-max-width);
    }

    section {
        width: 80%;
    }
}