main {
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--color-site-background);
    max-width: var(--site-max-width);
   
}

section {
    margin: 10vh auto 15vh auto;
    max-width: var(--site-max-width);
}

header {
    margin: 0 auto;
    /* max-width: var(--site-max-width); */
}

footer {
    /* max-width: var(--site-max-width); */
    margin: 0 auto;
}

@media (max-width: 767px) {
    section {
        margin: 5vh auto;
        max-width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    section {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    section {
        width: 90%;
    }
}

.fadeIn {
    animation: fadeIn 1.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}