.wrap {
    background-color: var(--checkout-bg);

    section {
        max-width: 90%;
        width: 1200px;
        margin: 0 auto;
        box-sizing: content-box;
        display: block;
        background-color: var(--checkout-bg);

        article {
            display: grid;
            grid-template: 1fr / 2fr 1fr;
            column-gap: 2em;
            padding: 10vh 0;
        } 
    }
}

.form {
    width: 100%;
    grid-column: 1;

    border-radius: 8px;
    padding: 2em;
    background-color: white;

    label {
        display: block;
    }

    .double {
        display: grid;
        grid-template: auto / 1fr 1fr;
        column-gap: 1em;
    }

    h4 {
        margin-bottom: 1em;
    }
}

.summary {
    grid-column: 2;
    padding: 2.5em 2em 2em 2em;
    height: max-content;
    background-color: white;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .form {
        grid-column: 1;
        width: 100%;
    
        padding: 2em;
        background-color: white;
    
        .double {
            display: grid;
            grid-template: 1fr / 1 fr;
            gap: 1em;
        }
    }
}

@media (max-width: 1023px) {
    .wrap {
        section {
            padding: 5vh 0;

            article {
                display: grid;
                grid-template: auto auto / 1fr;
                gap: 2em;
                max-width: 700px;
                margin: 0 auto;
                padding: 0;
            }
        }
    }

    .form {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }

    .summary {
        grid-column: 1;
        grid-row: 2;
    }
}


