

.circle {
    background-image: url('~/public/assets/home/desktop/pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10vw top;
    overflow: hidden;
}

.wrap {
    composes: circle;
    width: 100%;
    aspect-ratio: 16/9;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--color-orange-1);
}

.imageGrid {
    width: 100%;
    height: 100%;
    position: relative;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;

    .image {
        position: absolute;
        width: 70%;
        height: 70%;
        object-fit: contain;
        top: 32%;
        left: 15%;
    }
}

.textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .textGroup {
        width: 100%;
    }

    .textGrid {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 80%;
        aspect-ratio: 1/1;
        grid-column: 2;
        grid-row: 1;
        z-index: 2;
    }
}

@media only screen and (max-width: 767px) {
    .wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        aspect-ratio: 1/2;
    }

    .circle {
        background-position: 50% -20vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        aspect-ratio: 5/7;
    }

    .circle {
        background-position: 50% -20vh;
    }
}

@media only screen and (max-width: 1023px) {

    .imageGrid {
        position: relative;
        grid-column: 1;
        grid-row: 1;

        .image {
            position: absolute;
            width: 70%;
            height: 70%;
            object-fit: contain;
            top: 22%;
            left: 15%;
        }
    }

    .textWrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        text-align: center;

        .textGrid {
            width: 60%;
            aspect-ratio: 1/1;

            grid-column: 1;
            grid-row: 2;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            z-index: 2;
        }

    }
}
