.section {
    margin: 0;
    height: max-content;
    background-color: var(--checkout-bg);
    margin: 0 auto;
}

.main {
    background-color: var(--checkout-bg);
    margin-top: 0;
}

.wrap {
    display: grid;
    grid-template-columns: 66% 34%;
    grid-template-rows: 1fr;
    column-gap: 2em;
}

.form {
    grid-column: 1;
    width: 100%;

    padding: 2em;
    background-color: white;

    .double {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 1em;
    }
}

.summary {
    grid-column: 2;
    padding: 2.5em 2em 2em 2em;
    height: max-content;
    background-color: white;
}

/* also exist in radio */
.label {
    font-family: "Manrope", sans-serif;
    font-size: 0.7em;
    color: black;
    font-weight: 700;  
    margin-bottom: 0.7em;
}


@media (max-width: 767px) {

    .form {
        grid-column: 1;
        width: 100%;
    
        padding: 2em;
        background-color: white;
    
        .double {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 0;
        }
    }


}

@media (max-width: 1023px) {

    .section {
        padding: 5vh 0;
    }
    .wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 2em;
        max-width: 700px;
        margin: 0 auto;
    }

    .form {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }

    .summary {
        grid-column: 1;
        grid-row: 2;
    }
   
}

@media only screen and (min-width: 1024px) {
    /* default css */
}

