.section {
    margin: 15vh auto;

    & span {
        color: var(--color-orange-1);
        display: inline;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .section {
        & h1 {
            font-size: 250%;
            margin: 1em 0;
        }

        & p {
            width: 70%;
        }
    }
}