%image {
    position: relative;
    width: 100%;
    height: 100%;
}

.section {
    display: grid;
    grid-template-columns: 2.2fr 3fr;
    grid-template-rows: auto auto;
    aspect-ratio: 16/9;
    gap: 2vw;
  
    img {
        border-radius: 6px;
    }

    .img1 {
        @extend %image;
        grid-column: 1;
        grid-row: 1;
    }
    
    .img2 {
        @extend %image;
        grid-column: 1;
        grid-row: 2;
    }
    
    .img3 {
        @extend %image;
        grid-column: 2;
        grid-row: 1 / 3;
    }
}

@media (max-width: 767px) {
    .section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2.1fr;
        aspect-ratio: 1/2;
        gap: 2%;
        margin: 10vh auto;

        .img1 {
            grid-column: 1;
            grid-row: 1; 
        }
        
        .img2 {
            grid-column: 1;
            grid-row: 2;
        }
        
        .img3 {
            grid-column: 1;
            grid-row: 3;
        }
    }
}