

.white {
    color: white
}

.black {
    color: var(--color-black-1);
}

.textSubhead {
    container-type: inline-size;
    container-name: subhead;
    display: inline-block;
    width: 100%;
}


@container subhead (min-width: 0px) {
    .font {
        font-size: 8cqw;
        line-height: 7cqi;
    }
}

@media screen and (max-width: 767px) {
    @container subhead (min-width: 0px) {
        .font {
            font-size: 9cqw;
        }
    }
}

