.section {
    margin: 2vh auto;
    display: block;

    p {
        user-select: none;
        cursor: w-resize;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: var(--color-orange-1);
        }
    }
}

@media (min-width: 1024px) {
    .section {
        display: none;
    }
}