.textWrapper {
    width: 100%;

    & label {
        font-family: "Manrope", sans-serif;
        display: block;
        margin-bottom: 0.7em;
        font-size: 0.7em;
        color: black;
        font-weight: 700;
    }

    & input {
        width: 100%;
        display: flex;
        outline: 1px solid #cccccc;
        color: var(--checkout-gray);
        border: none;
        border-radius: 6px;
        padding: 1.5em;
        font-size: 0.8em;
        margin-bottom: 2em;

        & :hover{
            outline: 1px solid var(--color-orange-1);
            font-weight: 700;
        }

        & :focus {
            outline: 1px solid var(--color-orange-1);
            color: black;
            font-weight: 700;
        }

        & .error {
            outline: 2px solid rgb(113, 18, 18);
        }
    }

    .radio {
        display: inline;
        outline: 1px solid #cccccc;
        color: rgb(173, 173, 173);
        padding: 10px;
        cursor: pointer;
        user-select: none;
        accent-color: var(--color-orange-1);
        margin-right: 1em;
    }
    
    .radioLabel {
        font-family: "Manrope", sans-serif;
        font-size: 1em;
        color: black;
        font-weight: 700;
    }
}

.footer {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: 1em;
    font-size: 12px;
    line-height: 1.5;

    & p{
        color: var(--checkout-gray)
    }
}



