
.section {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
    margin: 15vh auto 10vh auto;
}

.wrap {
    width: 33%;
    position: relative;

    .card {
        width: 100%;
        aspect-ratio: 16/9;
        background-color: #f8f8f8;
        border-radius: 3%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        h6 {
            width: unset;
            padding: 0;
            margin-left: -1em;
        }
    }

    .text {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.image {
    width: 90%;
    height: 90%;
    position: absolute;
    top: -30%;
    left: 4%;
    object-fit: contain;
}



@media (max-width: 767px) {
    .section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 18vw;
    }

    .wrap {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .card {
            width: 100%;
            aspect-ratio: 2/1;
            border-radius: 2%;

            h6 {
                font-size: 15px;
            }
        }
    }


}

@media (min-width: 768px) and (max-width: 1023px) {
    .wrap {
        .card {
           height: 200px;
            h6 {
                font-size: 15px;
            }
        }
    }

    .image {
        width: 80%;
        height: 80%;
        position: absolute;
        top: -30%;
        left: 11%;
        object-fit: contain;
    }
    
}

@media (max-width: 1023px) {
    .card h6 {
        font-size: 18px;
    }

    .card button {
        padding: 0;
    }
}