.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center
}

.wrap {
    composes: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 150px;
    margin-bottom: 150px;
}

.innerWrap {
    position: relative;
    width: 30%;
}

.card {
    composes: flex;
    width: 100%;
    aspect-ratio: 3/2;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-bottom: 5%;
}

.image {
    position: absolute;
    top: -30%;
    left: 5%;
    width: 90%;
    height: 90%;
    object-fit: contain;
}




@media only screen and (max-width: 767px) {

    .wrap {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }

    .innerWrap {
        position: relative;
        width: 100%;
        margin-bottom: 30%;
    }

    .card {
        border-radius: 5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* default css */
}


@media only screen and (min-width: 1024px) {
    /* default css */
}