.textAlignCenter {
    composes: flex from global;
    width: 100%;
    gap: 5%;
}

.textAlignLeft {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5%;
}

@media (min-width: 1024px) {
    .textAlignCenter {
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
}